body{
background-color: rgb(98, 26, 206);
}

h1, #detail{
font-family: 'Lobster', cursive;
font-weight: thin;
color: aqua;
text-align: center;
}

p{
color: aqua;
font-family: helvetica;
}